html, body {
  height: auto;
}
.logo {
  display: flex;
  justify-content: center;
}
form.ui.form {
  margin: 20px;
}
.hide {
  display: none !important;
}
.image {
  margin: 0 auto !important;
}
.result-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.buttons.copy-btn {
  display: flex;
  margin: 10px;
}